.root {
  .menuButton {
    display: none;
    font-size: 30px;
    cursor: pointer;
  }
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    &.active {
      width: 100%;
      height: 100vh;
    }
  }
  .menu {
    margin: 0;
    padding: 0;
    width: 25%;

    height: 100vh;
    position: absolute;
    background-color: white;
    right: 0px;
    top: 0;
    display: flex;
    flex-direction: column;
    .topMenu {
      color: black;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid rgba(58, 58, 58, 0.25);
      padding: 20px 15px;
      .title {
        display: flex;
        gap: 10px;
        align-items: center;
        svg {
          font-size: 18px;
          cursor: pointer;
        }
      }
      .profileName {
        cursor: default;
        margin: 0;
        padding: 0;
      }
      .btnClose {
        // right: 10px;
        // bottom: 12px;
        font-size: 30px;
        // position: absolute;
        cursor: pointer;
        fill: black;
      }
    }
    .links {
      margin: 10px 0;
      padding: 0 0 10px 0;
      display: flex;
      gap: 5px;
      flex-direction: column;
      border-bottom: 1px solid rgba(58, 58, 58, 0.25);
    }
    .menuBottom {
      position: relative;
      display: none;
    }
    .topProfile {
      color: black;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px;
      border-bottom: 1px solid rgba(58, 58, 58, 0.25);
      cursor: pointer;
      svg {
        font-size: 30px;
      }
    }
    .profile {
      margin: 10px 0;
      width: 100%;
      padding: 0 0 10px 0;
      display: flex;
      gap: 5px;
      flex-direction: column;
      border-bottom: 1px solid rgba(58, 58, 58, 0.25);
      opacity: 0;
      transition: all ease-in-out 0.2s;
      position: absolute;
      top: -50px;
      overflow: hidden;
      max-height: 0;
    }
    .profile.active {
      max-height: 200px;
      opacity: 1;
      transform: translateY(110px);
    }
    a {
      cursor: pointer;
      font-size: 18px;
      color: black;
      text-align: center;
      margin-bottom: 5px;
      transition: all ease-in-out 0.1s;
      &:hover {
        color: red;
      }
    }
    .active {
      color: red;
      cursor: default;
    }
  }
}
@media (max-width: 1050px) {
  .root {
    .menuButton {
      display: inline;
    }
  }
}
@media (max-width: 650px) {
  .root {
    .menu {
      width: 50%;
    }
  }
}
@media (max-width: 550px) {
  .root {
    .menu {
      .menuBottom {
        display: block;
      }
    }
  }
}
